.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100px;
  color: white;
  background-color: black;
  align-items: center;
}
.nav-bar_logo {
  max-height: 100px;
  cursor: pointer;
}
