.product {
  padding: 3rem;
  position: relative;
  width: 100%;
}
.product_fig {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 100px;
  margin: auto;
  margin-bottom: 2rem;
}
.product_fig_img {
  width: 25vw;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 100%;
  background-color: white;
}
.product_fig_img.selected {
  border: 2px solid var(--color-primary);
}
.product_fig_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.product_fig_caption {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.product_button {
  cursor: pointer;
  background-color: var(--color-primary);
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
}
.product_button:hover {
  background-color: var(--color-secondary);
}
.product_button.selected {
  background-color: var(--bg-secondary);
}
.product_desc_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product_desc_map {
  border: 1px solid black;
  aspect-ratio: 1;
}
.product_back-to-products {
  position: absolute;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
}
.product_seller {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem 20%;
  border: 1px solid var(--bg-secondary);
}
.products_pagination {
  display: flex;
  gap: 5px;
}
.products_pagination_page {
  color: var(--color-secondary);
  font-weight: bold;
  cursor: pointer;
}
.products_pagination_page.currentPage {
  color: var(--color-primary);
}
