.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100px;
  color: white;
  background-color: black;
  align-items: center;
  z-index: 5;
}
.nav-bar_logo {
  max-height: 100px;
  cursor: pointer;
}
.nav-bar_logout {
  max-height: 50px;
  cursor: pointer;
}
.nav-bar_actions {
  width: 100%;
  display: flex;
  max-height: 60px;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
